In [24]:
# Variable Example

Rent = 4000
Petrol = 68.50
Groceries = 1000

In [25]:
# Print Function - print ()
print (Rent)

4000

In [26]:
# Variable is of type
type(Rent)

int

In [27]:
# Addition
total = Rent + Petrol + Groceries
print (total)

5068.5

In [28]:
# Variable can hold one value which can be retrieved many times
Rahul = "Shahrukh Khan"
Prem = "Salman Khan"
Raj = "Akshay Kumar"

In [29]:
print ( 'Actors in Sholay: {},{},{}'.format(Rahul, Prem, Raj))

Actors in Sholay: Shahrukh Khan,Salman Khan,Akshay Kumar

In [30]:
# Everything is object in Python
print(type(Rent))

<class 'int'>

In [33]:
print(type(Petrol))

<class 'float'>

In [34]:
print (type(Rahul))

<class 'str'>